* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alkatra", cursive;
}

body {
  font-size: 16px;
  background-color: rgb(216, 227, 236);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  color: #989898;
  transition: 300ms;
}

button:hover {
  color: black;
  transform: scale(1.1);
}

input {
  outline: none;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  max-width: 400px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 1px solid #989898;
  margin-top: 50px;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(152, 152, 152, 0.3),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: #989898 solid 1px;
}

h1 {
  font-size: 16px;
  font-weight: 700;
}

.fa-arrows-rotate {
  color: #989898;
  padding-right: 5px;
  font-size: 14px;
}

#frm-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: #989898 solid 1px;
}

#new-task {
  color: #989898;
  width: 100%;
  padding: 5px;
}

.fa-square-check {
  color: #989898;
  padding-right: 8px;
}

#ul-tasks {
  display: flex;
  flex-direction: column;
}

.li-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #989898 solid 1px;
  padding: 5px;
}

.txt-task {
  width: 100%;
  margin-left: 5px;
}

.completed {
  text-decoration: line-through !important;
  color: red !important;
}

.btn-drag,
.btn-remove {
  border: none;
  padding-right: 5px;
}

#btn-clear {
  width: 100%;
  border: none;
  color: #989898;
  padding: 10px;
  font-size: 18px;
}

#btn-clear:hover {
  color: black;
  background-color: #989898;
  transform: none;
}
